@page "/"

<PageTitle>Sign Up</PageTitle>

<div class="bar">
    <div class="left">
        <img src="images/logo.png" alt="heart" class="logo">
        <h3>Borcelle Clinic</h3>
    </div>
    <nav class="right">
        <a>Home</a>
        <a>About</a>
        <a>Service</a>
        <a>Pricing</a>
        <a>Blog</a>
    </nav>
</div>
<div class="container-fluid">
    <div class="row full-height">
        <div class="left col-sm-6 col-md-6 col-lg-6">
            <h3>Get In Touch</h3>
            <h1>
                <span class="yellow">Convey Your</span><br>
                Ideas to Us
            </h1>
            <p>
                Contact us for questions, technical assistance, or collaboration opportunities via
                the contact information provided
            </p>
            <ul>
                <li><img src="images/phone.png" alt="phone">+123-456-7890</li>
                <li><img src="images/envelope.png" alt="envelope">hello@reallygreatsite.com</li>
                <li><img src="images/location.png" alt="location">123 anywhere ST., Any City, 12345</li>
            </ul>
        </div>
        <div class="right col-sm-6 col-md-6 col-lg-6">
            <form>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
                <div class="container2 d-flex">
                    <div class="left">
                        <label for="email">Email</label>
                        <input type="Email" id="email" name="email" required>
                    </div>
                    <div class="right">
                        <label for="phone">Phone Number</label>
                        <input type="tel" id="phone" name="phone" required>
                    </div>
                </div>
                <label for="message">Message</label>
                <textarea id="message" name="message"></textarea>
                <input type="submit" value="submit now">
            </form>
        </div>
    </div>
</div>
